#upperPanel {
	width: 800px;
}
#background {
	position: absolute;
	top: 0;
	z-index: 0;
	height: 400px;
	width: 800px;
}
.statBox {
	top: 0;
	position: absolute;
	width: 800px;
	height: 100px;
	/*background-color: lightblue;*/
}
.statDisplay {
	width: 150px;
	height: 100%;
}
.popBox {
	top: 100px;
	position: absolute;
	width: 800px;
	height: 50px;
	/*background-color: salmon;*/
}
/*.charBox {
	top: 150px;
	position: absolute;
	width: 800px;
	height: 200px;
}*/
.charCanvas {
	top: 150px;
	position: absolute;
	width: 800px;
	height: 200px;
}
.heroImage {
	position: absolute;
	z-index: 10;
	height: 200px;
}
.enemyTarget {
	position: absolute;
	z-index: 10;
	height: 200px;
	width: 130px;
	top: 150px;
}
#enemy0 {
	left: 240px;
}
#enemy1 {
	left: 370px;
}
#enemy2 {
	left: 500px;
}
#enemy3 {
	left: 630px;
}
/*Underneath canvas*/

.arrBox {
	top: 350px;
	position: absolute;
	width: 800px;
	height: 25px;
	/*background-color: gray;*/
}
.insBox {
	top: 375px;
	position: absolute;
	width: 800px;
	height: 25px;
	/*background-color: orange;*/
}
#lowerPanel{
	top: 400px;
	position: absolute;
	width: 800px;
	height: 200px;
	background-color: green;

}
#upperPanel p {
	margin: 0;
}
#lowerPanel p {
	/*position: absolute;*/
	margin: 0;
}
p {
	background-color: white;
}
.source {
	display: none;
}

.displayBlock {
	float: left;
	border: 1px solid black;
	padding: 5px;
	width: 150px;
}
.clear {
	clear: both;
}
#oldDisplay {
	position: absolute;
	top: 700px;
}